<p>bienvenue sur la page d'accueil</p>
<div class="flex justify-center items-center h-screen">
  <div class="w-1/2">
    <div class="bg-white shadow-xl rounded p-6">
      Bienvenue sur notre réseau social créé avec amour par vos soins ! 🚀👩‍💻
      Explorez, créez, et amusez-vous en découvrant les bases du développement
      avec Angular. Le code est entre vos mains maintenant, alors plongez
      dedans, faites des modifications et laissez votre créativité s'exprimer.
      Que ce soit pour partager vos passions, collaborer sur des projets ou
      simplement apprendre ensemble, ce faux réseau social est votre terrain de
      jeu. N'hésitez pas à poser des questions, à explorer le code source et à
      faire de ce projet une expérience d'apprentissage unique. Alors, à vos
      claviers, prêts, codez ! 💻🚧
    </div>
  </div>
</div>
